<!-- Slideshow Carousel -->
<div class="carousel-container" *ngIf="slideshowShows.length > 0">
  <div class="carousel-slide" [style.transform]="'translateX(-' + currentSlide * 100 + '%)'">
    <div class="carousel-item" *ngFor="let show of slideshowShows">
      <img src="assets/default-thumbnail.jpg" alt="{{ show.name }}" />
      <div class="carousel-caption">{{ show.name }}</div>
    </div>
  </div>

  <button class="carousel-btn left" (click)="prevSlide()">‹</button>
  <button class="carousel-btn right" (click)="nextSlide()">›</button>
</div>


<div class="landing-container">
  <h2 class="section-title">Cartoon Collection</h2>

  <div class="tiles-grid">
    <div 
      class="show-tile"
      *ngFor="let show of visibleShows"
      (click)="goToShow(show)">
      <div class="thumbnail-placeholder">
        <span class="emoji">📺</span>
      </div>
      <br>
      <div class="show-name">{{ show.name }}</div>
    </div>
  </div>

  <div class="show-more-container" *ngIf="shows.length > initialLimit && !showAll">
    <button (click)="showMore()">Show More</button>
  </div>
</div>
